<p style="color: green"><%= notice %></p>

<h1>Filesharing App</h1>

<p>
    <strong>Current User: <%= current_user.email %></strong>
    <%= button_to "Logout", session_path, method: :delete %>
    <%= link_to "User Page", user_url(current_user) %>
</p>

<p>
    <strong>Click here to generate a new file sharing link:</strong>
    <%= link_to "New shared file", new_shared_file_path %>
</p>