<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <div id="shared_files">
    <% @uploaded_files.each do |shared_file| %>
      <%= render shared_file %>
      <p>
        <%= link_to "Show this shared file", shared_file %>
      </p>
    <% end %>
  </div>

</div>
