<%= form_with(model: shared_file) do |form| %>
  <% if shared_file.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shared_file.errors.count, "error") %> prohibited this shared_file from being saved:</h2>

      <ul>
        <% shared_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
      <%= form.label :attached_file, class: "form-label" %>
      <%= form.file_field :attached_file, class: "form-control" %>
  </div>

  <div class="mb-3">
      <%= form.label :link_type, class: "form-label" %>
      <%= form.select :link_type, ['short', 'long', 'forever'], {}, {:class => "form-control"} %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
