<div id="<%= dom_id shared_file %>">
  <div>
    <strong>Filename:</strong>
    <%= shared_file.attached_file.filename %>
  </div>

  <p>
    <strong>Expires at:</strong>
    <%= shared_file.expires_at %>
  </p>

  <% if shared_file.is_active? %>
    <p>
      <strong>Download File:</strong>
      <%= link_to "Download", rails_blob_path(shared_file.attached_file, disposition: "attachment"), class: "btn btn-primary" %>
    </p>
    <%
=begin%>
  The data-controller and data-action parameters inform stimulus how to wire up this button to
  the javascript clipboard_controller.js file that I have written in app/javascript/controllers/.
  The clipboard copy() method copies the current url into the user's clipboard.
<%
=end%>
    <div class="btn-group" role="group">
      <div data-controller="clipboard">
        <input data-clipboard-target="source" type="text" value=<%= shared_file_url(shared_file) %> readonly hidden>
        <button data-action="clipboard#copy" class="btn btn-info">Copy Link to Clipboard</button>
      </div>
      <div>
        <% if shared_file.belongs_to?(current_user) %>
          <%= button_to "Manually revoke link", shared_file_url(shared_file), method: :patch, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>This link has expired and is no longer available to download</p>
  <% end %>

</div>
