<div id="<%= dom_id shared_file %>">
  <p>
    <strong>Uuid:</strong>
    <%= shared_file.id %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= shared_file.attached_file.filename %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= shared_file.expires_at %>
  </p>

  <% if is_active(shared_file) %>
    <p>
      <strong>Download File:</strong>
      <%= link_to "Download", rails_blob_path(shared_file.attached_file, disposition: "attachment") %>
    </p>
    <p>
      <strong>Sharing Link:</strong>
      <%= link_to "Copy this link", shared_file_url(shared_file) %>
    </p>
  <% else %>
    <p>This link has expired and is no longer available to download</p>
  <% end %>

</div>
